.components-wrap {
    position: fixed;
    top:58px;
    right:0;
    bottom:0;
    left:288px;
    padding:20px;
    box-sizing: border-box;
    border-left:1px solid #eaecef;
    overflow-y: auto;
    h2 {
        font-size: 1.6rem;
        font-weight: normal;
        margin-bottom:30px;
    }
    h4 {
        margin:30px 0 15px;
    }
}
